<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wowgz.face_attendance_system.mapper.AttendanceRecordInfoMapper">
    <resultMap id="BaseResultMap" type="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="attendance_record_number" jdbcType="VARCHAR" property="attendanceRecordNumber"/>
        <result column="stu_number" jdbcType="VARCHAR" property="stuNumber"/>
        <result column="class_number" jdbcType="VARCHAR" property="classNumber"/>
        <result column="course_number" jdbcType="VARCHAR" property="courseNumber"/>
        <result column="attendance_time" jdbcType="DATE" property="attendanceTime"/>
    </resultMap>
    <resultMap id="TableInfoMap" type="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfoInTable">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="attendance_record_number" jdbcType="VARCHAR" property="attendanceRecordNumber"/>
        <result column="stu_number" jdbcType="VARCHAR" property="stuNumber"/>
        <result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
        <result column="stu_sex" jdbcType="VARCHAR" property="stuSex"/>
        <result column="attendance_time" jdbcType="DATE" property="attendanceTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, attendance_record_number, stu_number, class_number, course_number, attendance_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attendance_record_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectTableInfoByCondition" parameterType="map" resultMap="TableInfoMap">
        select
        attendance_record_info.id, attendance_record_info.attendance_record_number, stu_info.stu_number,
        stu_info.stu_name,
        stu_info.stu_sex, attendance_record_info.attendance_time
        from attendance_record_info, stu_info
        where attendance_record_info.stu_number = stu_info.stu_number
        <if test="stuNumber != '' and stuNumber != null">
            and stu_info.stu_number = #{stuNumber, jdbcType=VARCHAR}
        </if>
        <if test="stuName != '' and stuName != null">
            and stu_info.stu_name = #{stuName, jdbcType=VARCHAR}
        </if>
        <if test="classNumber != '' and classNumber != null">
            and stu_info.stu_class_number = #{classNumber, jdbcType=VARCHAR}
        </if>
        <if test="courseNumber != '' and courseNumber != null">
            and attendance_record_info.course_number = #{courseNumber, jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from attendance_record_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
        insert into attendance_record_info (id, attendance_record_number, stu_number,
          class_number, course_number, attendance_time
          )
        values (#{id,jdbcType=INTEGER}, #{attendanceRecordNumber,jdbcType=VARCHAR}, #{stuNumber,jdbcType=VARCHAR},
          #{classNumber,jdbcType=VARCHAR}, #{courseNumber,jdbcType=VARCHAR}, #{attendanceTime,jdbcType=TIMESTAMP}
          )
    </insert>
    <insert id="insertSelective" parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
        insert into attendance_record_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="attendanceRecordNumber != null">
                attendance_record_number,
            </if>
            <if test="stuNumber != null">
                stu_number,
            </if>
            <if test="classNumber != null">
                class_number,
            </if>
            <if test="courseNumber != null">
                course_number,
            </if>
            <if test="attendanceTime != null">
                attendance_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="attendanceRecordNumber != null">
                #{attendanceRecordNumber,jdbcType=VARCHAR},
            </if>
            <if test="stuNumber != null">
                #{stuNumber,jdbcType=VARCHAR},
            </if>
            <if test="classNumber != null">
                #{classNumber,jdbcType=VARCHAR},
            </if>
            <if test="courseNumber != null">
                #{courseNumber,jdbcType=VARCHAR},
            </if>
            <if test="attendanceTime != null">
                #{attendanceTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
        update attendance_record_info
        <set>
            <if test="attendanceRecordNumber != null">
                attendance_record_number = #{attendanceRecordNumber,jdbcType=VARCHAR},
            </if>
            <if test="stuNumber != null">
                stu_number = #{stuNumber,jdbcType=VARCHAR},
            </if>
            <if test="classNumber != null">
                class_number = #{classNumber,jdbcType=VARCHAR},
            </if>
            <if test="courseNumber != null">
                course_number = #{courseNumber,jdbcType=VARCHAR},
            </if>
            <if test="attendanceTime != null">
                attendance_time = #{attendanceTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
    update attendance_record_info
    set attendance_record_number = #{attendanceRecordNumber,jdbcType=VARCHAR},
      stu_number = #{stuNumber,jdbcType=VARCHAR},
      class_number = #{classNumber,jdbcType=VARCHAR},
      course_number = #{courseNumber,jdbcType=VARCHAR},
      attendance_time = #{attendanceTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>