<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wowgz.face_attendance_system.dao.AttendanceRecordInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="attendance_record_number" jdbcType="VARCHAR" property="attendanceRecordNumber" />
    <result column="stu_number" jdbcType="VARCHAR" property="stuNumber" />
    <result column="class_number" jdbcType="VARCHAR" property="classNumber" />
    <result column="teacher_number" jdbcType="VARCHAR" property="teacherNumber" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="month" jdbcType="VARCHAR" property="month" />
    <result column="day" jdbcType="VARCHAR" property="day" />
    <result column="hour" jdbcType="VARCHAR" property="hour" />
    <result column="minute" jdbcType="VARCHAR" property="minute" />
  </resultMap>
  <sql id="Base_Column_List">
    id, attendance_record_number, stu_number, class_number, teacher_number, `year`, `month`, 
    `day`, `hour`, `minute`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attendance_record_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attendance_record_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
    insert into attendance_record_info (id, attendance_record_number, stu_number, 
      class_number, teacher_number, `year`, 
      `month`, `day`, `hour`, `minute`
      )
    values (#{id,jdbcType=INTEGER}, #{attendanceRecordNumber,jdbcType=VARCHAR}, #{stuNumber,jdbcType=VARCHAR}, 
      #{classNumber,jdbcType=VARCHAR}, #{teacherNumber,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, #{hour,jdbcType=VARCHAR}, #{minute,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
    insert into attendance_record_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="attendanceRecordNumber != null">
        attendance_record_number,
      </if>
      <if test="stuNumber != null">
        stu_number,
      </if>
      <if test="classNumber != null">
        class_number,
      </if>
      <if test="teacherNumber != null">
        teacher_number,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="month != null">
        `month`,
      </if>
      <if test="day != null">
        `day`,
      </if>
      <if test="hour != null">
        `hour`,
      </if>
      <if test="minute != null">
        `minute`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attendanceRecordNumber != null">
        #{attendanceRecordNumber,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="classNumber != null">
        #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="teacherNumber != null">
        #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="hour != null">
        #{hour,jdbcType=VARCHAR},
      </if>
      <if test="minute != null">
        #{minute,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
    update attendance_record_info
    <set>
      <if test="attendanceRecordNumber != null">
        attendance_record_number = #{attendanceRecordNumber,jdbcType=VARCHAR},
      </if>
      <if test="stuNumber != null">
        stu_number = #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="classNumber != null">
        class_number = #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="teacherNumber != null">
        teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        `year` = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null">
        `month` = #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null">
        `day` = #{day,jdbcType=VARCHAR},
      </if>
      <if test="hour != null">
        `hour` = #{hour,jdbcType=VARCHAR},
      </if>
      <if test="minute != null">
        `minute` = #{minute,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.wowgz.face_attendance_system.entitiy.AttendanceRecordInfo">
    update attendance_record_info
    set attendance_record_number = #{attendanceRecordNumber,jdbcType=VARCHAR},
      stu_number = #{stuNumber,jdbcType=VARCHAR},
      class_number = #{classNumber,jdbcType=VARCHAR},
      teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      `year` = #{year,jdbcType=VARCHAR},
      `month` = #{month,jdbcType=VARCHAR},
      `day` = #{day,jdbcType=VARCHAR},
      `hour` = #{hour,jdbcType=VARCHAR},
      `minute` = #{minute,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>