<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wowgz.face_attendance_system.mapper.TeacherClassCourseRelationInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.wowgz.face_attendance_system.entitiy.TeacherClassCourseRelationInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacher_number" jdbcType="VARCHAR" property="teacherNumber" />
    <result column="class_number" jdbcType="VARCHAR" property="classNumber" />
    <result column="course_number" jdbcType="VARCHAR" property="courseNumber" />
  </resultMap>

  <sql id="Base_Column_List">
    id, teacher_number, class_number, course_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher_class_course_relation_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher_class_course_relation_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.wowgz.face_attendance_system.entitiy.TeacherClassCourseRelationInfo">
    insert into teacher_class_course_relation_info (id, teacher_number, class_number, 
      course_number)
    values (#{id,jdbcType=INTEGER}, #{teacherNumber,jdbcType=VARCHAR}, #{classNumber,jdbcType=VARCHAR}, 
      #{courseNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.wowgz.face_attendance_system.entitiy.TeacherClassCourseRelationInfo">
    insert into teacher_class_course_relation_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teacherNumber != null">
        teacher_number,
      </if>
      <if test="classNumber != null">
        class_number,
      </if>
      <if test="courseNumber != null">
        course_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teacherNumber != null">
        #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="classNumber != null">
        #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="courseNumber != null">
        #{courseNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.wowgz.face_attendance_system.entitiy.TeacherClassCourseRelationInfo">
    update teacher_class_course_relation_info
    <set>
      <if test="teacherNumber != null">
        teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="classNumber != null">
        class_number = #{classNumber,jdbcType=VARCHAR},
      </if>
      <if test="courseNumber != null">
        course_number = #{courseNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.wowgz.face_attendance_system.entitiy.TeacherClassCourseRelationInfo">
    update teacher_class_course_relation_info
    set teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      class_number = #{classNumber,jdbcType=VARCHAR},
      course_number = #{courseNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>